# Generated website directory
_site/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Local environment
vendor/
.bundle/

# Notes graph metadata
_includes/notes_graph.json

# Obsidian config
.obsidian/
unlinked files output.md
unresolved links output.md

# MacOS System Files
.DS_Store
deployhq_build.md
