@font-face {
  font-family: 'Inter Variable';
  src: url('../fonts/Inter/Inter-VariableFont_slnt,wght.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-feature-settings: "ss02"1 "frac"1;
  font-variation-settings: "slnt"0;
}

@font-face {
  font-family: 'Inter Variable';
  src: url('../fonts/Inter/Inter-VariableFont_slnt,wght.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-variation-settings: "slnt"-10;
}

@font-face {
  font-family: 'Wremena';
  src: url('../fonts/Wremena/WremenaLight.woff') format('woff2');
  font-style: normal;
  font-weight: 100;
  font-variant-numeric: tabular-nums;
}

@font-face {
  font-family: 'Wremena';
  src: url('../fonts/Wremena/WremenaRegular.woff') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-variant-numeric: tabular-nums;
}

@font-face {
  font-family: 'Wremena';
  src: url('../fonts/Wremena/WremenaBold.woff') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-variant-numeric: tabular-nums;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Thin-slnt=0.woff2') format('woff2');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ExtraLight-slnt=0.woff2') format('woff2');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Light-slnt=0.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular-slnt=0.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Medium-slnt=0.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-SemiBold-slnt=0.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Bold-slnt=0.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ExtraBold-slnt=0.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Black-slnt=0.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}